.introduce{
	position:absolute;
	top:316px;
	left:69.2%;
	border-top:5px solid white;
	border-bottom:5px solid white;
	border-left:5px solid white;
	width:29.5%;
	height:517px;
	line-height:1.6em;
	padding:10px;
}